<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="container bg-secondary text-white p-4">
            <h1>Sobre Mim</h1>
            <p>Oi, sou o Robert França! Estudante de programação da Rocketseat.</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>